<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <title>CodePen - Boostrap海洋網站</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bs2.css' %}">  
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

  </head>

<body translate="no" >

  
<header class="jumbotron">
  <div class="container">
    <h3>城市向海的一隅</h3>
    <h1>餘光．啟航</h1>
  </div>
</header>
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-heading">最後一次看見海是什麼時候</h2>
        <h3 class="section-subheading text-muted">上衣看見的海，仍然藍的深邃</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sea"><img src="https://i.pinimg.com/736x/f0/6f/5e/f06f5e80c04486a35400f151204202c4--the-sea-at-night-sea-night.jpg" alt=""/>
        <h4>一望無際的海</h4>
        <h6 class="text-muted">就像沒有邊際的人生</h6>
      </div>
      <div class="col-md-4 col-sea"><img src="https://i.pinimg.com/736x/f0/6f/5e/f06f5e80c04486a35400f151204202c4--the-sea-at-night-sea-night.jpg" alt=""/>
        <h4>一望無際的海</h4>
        <h6 class="text-muted">就像沒有邊際的人生</h6>
      </div>
      <div class="col-md-4 col-sea"><img src="https://i.pinimg.com/736x/f0/6f/5e/f06f5e80c04486a35400f151204202c4--the-sea-at-night-sea-night.jpg" alt=""/>
        <h4>一望無際的海</h4>
        <h6 class="text-muted">就像沒有邊際的人生</h6>
      </div>
    </div>
  </div>
</section>
<section class="story">
  <div class="container">
    <div class="row">
      <div class="col-md-12"><img class="icon-sea" src="https://image.flaticon.com/icons/png/512/172/172909.png" alt=""/>
        <h2 class="section-heading">海洋的故事</h2>
        <h3 class="section-subheading text-muted">要成為海，定義上其實不容易</h3>
        <div class="row">
          <div class="col-md-6">
            <p class="h2">3.552平方公里</p>
            <p class="content">海，是佔地球表面積70.8%的鹹水。[1]海洋調節著地球的氣候並在水循環、碳循環、氮循環發揮了中的極其重要的作用。</p>
          </div>
          <div class="col-md-6">
            <p class="h2">3.552平方公里</p>
            <p class="content">海，是佔地球表面積70.8%的鹹水。[1]海洋調節著地球的氣候並在水循環、碳循環、氮循環發揮了中的極其重要的作用。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pictures">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pic1">
        <div class="text-panel">
          <h1>深海的生物們</h1>
          <p>目前探索不到1%</p>
        </div>
      </div>
      <div class="col-md-6 pic2">
        <div class="text-pane2">
          <h1>人造物的侵襲</h1>
          <p>每年有數萬噸的人造物沉入海底</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ask">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-heading">最後一次看到海的時候？</h2>
        <h3 class="section-subheading text-muted">上一次看到海的故事</h3>
        <input class="form-control"/>
      </div>
    </div>
  </div>
</section>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

  
  
  

</body>
</html>