<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <title>CodePen - Skrollr版面設計</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bs3.css' %}">  
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>

</head>

<body translate="no" >

  
<nav class="navbar navbar-default navbar-fixed-top navbar-top">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand">PRINT</a></div>
    <div class="navbar-collapse collapse">
      <div class="nav navbar-nav navbar-right">
        <li><a href="#section_ask">引言 INTRO</a></li>
        <li><a href="#section_about">簡介ABOUT</a></li>
        <li><a href="#section_story">故事 STORY</a></li>
        <li><a href="#section_future">未來 FUTURE</a></li>
      </div>
    </div>
  </div>
</nav>
<header class="jumbotron">
  <div class="container">
    <h1 data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)">印刷術，知識的複製與革命</h1>
    <hr/>
    <h4>對人類的知識傳播有決定性的作用</h4>
  </div>
</header>
<section id="section_ask">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 img" data-0="transform: translateX(-200px)" data-500="transform: translateX(0px)"></div>
      <div class="col-sm-7" data-300="opacity: 0" data-500="opacity: 1">
        <h2>如果今天沒有印表機，一本書須要花多久時間生產?</h2>
      </div>
    </div>
  </div>
</section>
<section id="section_about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" data-bottom-top="transform: translateY(-50px); opacity: 0" data-center="transform: translateY(0px); opacity: 1">
        <h1>印刷的故事</h1>
        <hr/>
      </div>
      <div class="col-md-4 col-sm-6" data-bottom-top="transform: translateY(-50px); opacity: 0" data-center="transform: translateY(0px); opacity: 1">
        <div class="img_wrap"><img src="https://i1.kknews.cc/large/483000513a35934355f" alt=""/></div>
        <h3>起源</h3>
        <p>印刷是指將影像或文字原稿迅速大量複製的一種技術。一般使用印刷機將油墨印在紙張上，它是出版的基本組成部分。印刷機是能夠在承印物上印刷的機械。活字印刷術被稱為中國古代四大發明之一，可以說造紙術與印刷術這兩項偉大的發明對人類文化知識的傳播起到了決定性的作用。</p>
      </div>
      <div class="col-md-4 col-sm-6" data-bottom-top="transform: translateY(-50px); opacity: 0" data-center="transform: translateY(0px); opacity: 1">
        <div class="img_wrap"><img src="https://static.itoutiao.org/uploads/attachments/2017-02-02/hZlBQxPrdpX3oGXdTcuk1Q/QFFUR4YOACIP53GNEFU3IBBHNDFDH5SK" alt=""/></div>
        <h3>古代印刷術</h3>
        <p>印刷術最早可是追溯到公元前三千年兩河流域人民使用滾筒印章製造印刷品，主要用作裝飾品和巫術。<br><br>雕版印刷最早是出現在中國，是拓石和印章兩種方法逐步發展而合成的，是經過很長時間，積累了許多人的經驗而成的，是人類智慧的結晶。現存最早文獻和最早的雕版印刷實物是在600年，即唐朝初期。</p>
      </div>
      <div class="col-md-4 col-sm-6" data-bottom-top="transform: translateY(-50px); opacity: 0" data-center="transform: translateY(0px); opacity: 1">
        <div class="img_wrap"><img src="http://upload.71.cn/2013/1127/1385520528399.jpg" alt=""/></div>
        <h3>爭議性起源</h3>
        <p>世界上最早的雕版印刷是中國發明的。十九世紀末曾有日本學者島田主張中國在6世紀的六朝就有雕版印刷，根據是北齊顏之推《顏氏家訓》有「書本」一詞；又根據明《河汾燕閑錄》中「隋開皇十三年十二月八日敕廢像遺經悉令雕版」一語，認為最晚在隋朝已有雕版印刷。</p>
      </div>
    </div>
  </div>
</section>
<section id="section_story">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 map" data-bottom-top="background-size: 150%; background-position: 0% 0%" data-center="background-size: 100%; background-position: 50% 50%">
        <div class="cross">X</div>
      </div>
      <div class="col-sm-7">
        <div class="col-sm-12">
          <h2>印刷對知識傳播的影響</h2>
          <hr/>
        </div>
        <div class="col-sm-12 features">
          <div class="col-sm-4" data-bottom-top="transform: scale(1.5); opacity: 0" data-center="transform: scale(1); opacity: 1"><i class="fa fa-files-o"></i>
            <h4>快速複製</h4>
          </div>
          <div class="col-sm-4" data-bottom-top="transform: scale(1.5); opacity: 0" data-center="transform: scale(1); opacity: 1"><i class="fa fa-paper-plane-o"></i>
            <h4>知識傳遞</h4>
          </div>
          <div class="col-sm-4" data-bottom-top="transform: scale(1.5); opacity: 0" data-center="transform: scale(1); opacity: 1"><i class="fa fa-floppy-o"></i>
            <h4>文化保存</h4>
          </div>
        </div>
        <div class="col-sm-12">
          <p>印刷機的開發使知識的傳播發生了革命性的變化：1469年在威尼斯成立第一家印刷社（即出版社），1500年該城就有印刷廠417家。1476年，威廉·卡克斯頓在英格蘭成立第一家印刷社°在1539年，西班牙人Juan Pablos在墨西哥的墨西哥城。Stephen Day於1628年在美國麻塞諸塞海灣地區建立了北美第一家印刷社，並協助成立了劍橋出版社。</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section_future">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2>現代的印刷術</h2>
        <hr/>
      </div>
      <div class="col-sm-6"><img src="http://www.jitu5.com/uploads/allimg/120212/6446-120212112Q113.jpg" alt="" data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)"/></div>
      <div class="col-sm-6 future" data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)"><i class="fa fa-desktop"></i>
        <h3>電腦印刷</h3>
        <p>在電子技術迅速發展的過程中，印刷進入了電子控制和自動化的時期，電子排版、電子分色、電子雕版廣泛應用，在印刷質量和效率上都得到了巨大提高。計算機的應用繼續將印刷帶入了數字印刷時代，使傳統工藝難於完成的小品種、多變化印刷得以順利實現。</p>
      </div>
      <div class="col-sm-6 future" data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)"><i class="fa fa-cubes"></i>
        <h3>三維列印</h3>
        <p>三維列印 是一種製造技術，物體是由三維文件和三維印表機生成。物體製造是通過一層層材料的疊加而列印出來. 在2012年, 一些公司例如Sculpteo或Shapeways提出網上的三維列印解決方案</p>
      </div>
    </div>
  </div>
</section>
<footer class="jumbotron">
  <div class="container">
    <h2>想要了解更多印刷的故事嗎？</h2>
    <input class="form-control" placeholder="Email"/>
    <hr/>
    <button class="btn btn-default">打開故事</button>
  </div>
</footer>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script>

    <script >
    $(window).scroll(function(evt){
  if ($(window).scrollTop()>0)
  $(".navbar").removeClass("navbar-top");
  else
  $(".navbar").addClass("navbar-top")
})

var s = skrollr.init()
  </script>

  
  

</body>
</html>