<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <title>CodePen - A Pen by  Lee Cheng Pai</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/piano.css' %}">
  
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

  </head>

<body translate="no" >

  
<div id="app">
  <div class="audioplayer" v-for="s in sounddata"> 
    <audio :data-num="s.number">
      <source :src="s.url" type="audio/ogg"/>
    </audio>
  </div>
  {% verbatim %}
  <div class="center_box">
    <h2>Vue.js Piano Project7</h2>
    <div class="keyboard">
      <div class="pianokey" v-for="s in display_keys"> 
        <div class="white" v-if="s.type == 'white'" v-on:click="addnote(s.num)" v-bind:class="get_current_highlight(s.num, s.key)? 'playing':''"> 
          <div class="label">{{String.fromCharCode(s.key)}}</div>
        </div>
        <div class="black" v-if="s.type == 'black'" v-on:click="addnote(s.num)" v-bind:class="get_current_highlight(s.num, s.key)? 'playing':''"> 
          <div class="label">{{String.fromCharCode(s.key)}}</div>
          <!-- String.fromCharCode是將鍵盤的數字轉換為實際的鍵盤位置-->
        </div>
      </div>
    </div><br/>
    <div class="controls">
      <url class="notes_list" v-if="notes.length&gt;0">
        <li v-for="(note, id) in notes" v-bind:class="now_note_id-1==id?'playing':''">
          <div class="num">{{note.num}}</div>
          <div class="time">{{note.time}}</div>
        </li>
      </url><br/>
      <button v-on:click="load_sample()">Sample</button>
      <button v-on:click="playnext(1)">Playnext</button>
      <button v-if="playing_time&lt;=1" v-on:click="startplay(1,1)">Startplay<i class="fa fa-play"></i></button>
      <button v-if="playing_time&gt;1" v-on:click="stopplay()">Stopplay<i class="fa fa-pause"></i></button>
      <button v-if="record_time&lt;=0" v-on:click="start_record()">Start Record<i class="fa fa-circle"></i></button>
      <button v-if="record_time&gt;=1" v-on:click="stop_record()">Stop Record<i class="fa fa-stop"></i></button>
      <button v-on:click="notes=[]">Clear</button>
      <h4>{{playing_time + record_time}}</h4>
    </div>
  </div>
  {% endverbatim %}
</div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>

    <script >
    var soundpack=[]
var soundpack_index=[1,1.5,2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,8,8.5,9,9.5,10,11,11.5,12,12.5,13,13.5,14,15]

for(var i=0;i<soundpack_index.length;i++){
  soundpack.push({
    number: soundpack_index[i],
    url: "https://awiclass.monoame.com/pianosound/set/"+soundpack_index[i]+".wav"
  })
}

var vm = new Vue({
  el:"#app",
  data:{
    sounddata:soundpack,
    notes:[{num:3,time:105},{num:3,time:223},{num:4,time:331},{num:5,time:482},{num:5,time:565},{num:4,time:673},{num:3,time:782},{num:2,time:893},{num:1,time:1006},{num:1,time:1113},{num:2,time:1220},{num:3,time:1337},{num:3,time:1456},{num:2,time:1623},{num:2,time:1680},{num:3,time:1883},{num:3,time:1988},{num:4,time:2107},{num:5,time:2218},{num:5,time:2337},{num:4,time:2446},{num:3,time:2555},{num:2,time:2664},{num:1,time:2771},{num:1,time:2880},{num:2,time:2992},{num:3,time:3103},{num:2,time:3220},{num:1,time:3395},{num:1,time:3449}],
    now_note_id: 0,
    playing_time: 0,
    record_time: 0,
    now_press_key: -1,
    next_note_id: 0,
    player: null,
    display_keys: [
     {num: 1,key: 90  ,type:'white'},
      {num: 1.5,key: 83  ,type:'black'},
      {num: 2,key: 88  ,type:'white'},
      {num: 2.5,key: 68  ,type:'black'},
      {num: 3,key: 67  ,type:'white'},
      {num: 4,key: 86  ,type:'white'},
      {num: 4.5,key: 71  ,type:'black'},
      {num: 5,key: 66  ,type:'white'},
      {num: 5.5,key: 72  ,type:'black'},
      {num: 6,key: 78  ,type:'white'},
      {num: 6.5,key: 74  ,type:'black'},
      {num: 7,key: 77  ,type:'white'},
      {num: 8,key: 81  ,type:'white'},
      {num: 8.5,key: 50  ,type:'black'},
      {num: 9,key: 87  ,type:'white'},
      {num: 9.5,key: 51,type:'black'},
      {num: 10,key: 69  ,type:'white'},
      {num: 11,key: 82  ,type:'white'},
      {num: 11.5,key: 53  ,type:'black'},
      {num: 12,key: 84  ,type:'white'},
      {num: 12.5,key: 54  ,type:'black'},
      {num: 13,key: 89  ,type:'white'},
      {num: 13.5,key: 55  ,type:'black'},
      {num: 14,key: 85  ,type:'white'},
      {num: 15,key: 73  ,type:'white'}
    ]
  },
  methods: {
    playnote: function(id, volume){
      if (id>0){
        var audio_obj = $("audio[data-num='"+id+"']")[0];
        audio_obj.volume=volume
        // 可以調整音量
        audio_obj.currentTime=0;
        // 在每次撥放前，都直接倒帶到0（回到開頭）
        audio_obj.play();
      }
    },
    playnext: function(volume){
      var play_note = this.notes[this.now_note_id].num;
      console.log(play_note);
      this.playnote(play_note, volume);
      this.now_note_id+=1;
      
      if (this.now_note_id>=this.notes.length){
        clearInterval(this.player);
        this.play_time = 0;
        this.stopplay()
      }
    },
    start_record: function(){
      this.record_time=0;
      this.recorder=setInterval(function(){
        vm.record_time+=1;
      })
    },
    
    stop_record: function(){
      clearInterval(this.recorder);
      this.record_time=0;
    },
    
    startplay: function(){
      this.now_note_id=0;
      this.playing_time=0;
      this.next_note_id=0;
      var vobj = this;
      this.player = setInterval(function(){
        if (vobj.playing_time>=vobj.notes[vobj.next_note_id].time){
          vobj.playnext(1);
          vobj.next_note_id+=1;
        }
        vobj.playing_time+=1;
        // setInterval代表一次次執行裡面的動作
      }, 2)
    },
    stopplay: function(){
      clearInterval(this.player);
      this.now_note_id=0;
      this.playing_time=0;
      this.next_note_id=0;
    },
    get_current_highlight: function(id, skey){
      if (this.now_press_key==skey)
        return true
      if (this.notes.length==0)
        return false
      var cur_id = this.now_note_id -1;
      if (cur_id < 0) cur_id = 0;
      var num = this.notes[cur_id].num;
      if (num==id)
        return true;
      return false;
    },
    addnote: function(id){
      if (this.record_time>0)
        this.notes.push({num:id, time: this.record_time})
      this.playnote(id,1)
    },
    load_sample: function(){
      var vobj = this;
      $.ajax({
        url:"https://awiclass.monoame.com/api/command.php?type=get&name=music_dodoro",
        success: function(res){
          vobj.notes = JSON.parse(res)
        }
      })
    },
  }
})

// 音符搭配鍵盤
$(window).keydown(function(e){
  var key = e.which;
  vm.now_press_key = key;
  console.log(key);
  for(var i=0; i<vm.display_keys.length;i++){
    if (key==vm.display_keys[i].key){
      vm.addnote(vm.display_keys[i].num)
    }
  }
})

// 清除鍵盤紀錄
$(window).keyup(function(){
  vm.now_press_key = -1
})
  </script>

  
  

</body>
</html>
 